<?xml version="1.0" ?>
<robot name="lilbot">
    <webots>
        <device reference="ds0" type="DistanceSensor">
            <ros>
                <topicName>/sensor_left</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="ds1" type="DistanceSensor">
            <ros>
                <topicName>/sensor_right</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="lilbot_webots_sim_pkg.lilbot_webots_driver.LilbotWebotsDriver" />
    </webots>
</robot>