<?xml version="1.0" ?>
<robot name="lilbot">
    <webots>
        <device reference="lidar" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>lidar</frameName>
            </ros>
        </device>

        <device reference="encoder_wheel_left" type="PositionSensor">
            <ros>
                <topicName>/encoder_wheel_left</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="encoder_wheel_right" type="PositionSensor">
            <ros>
                <topicName>/encoder_wheel_right</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="lilbot_webots_sim_pkg.lilbot_webots_driver.LilbotWebotsDriver" />
    </webots>
</robot>